button{
border-radius: 10px;
}
header{
  text-align: center;
}
div.App{
  background-color: rgb(157, 142, 157);
  width: 400px;
  height: 200px;
  align-content: center;
  border: 2px solid black;
  border-radius: 10px;
  margin-left: 550px;
  margin-top: 50px; 
}

div.ClS{

  background-color: rgb(157, 142, 157);
  width: 400px;
  height: 200px;
  align-content: center;
  border: 2px solid black;
  border-radius: 10px;
  margin-top: 50px; 
  
}
p{
  margin-top: 31px;
}